NODE_ENV=development
PORT=4000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ligas?schema=public"
JWT_SECRET="cambia-esto-por-un-secreto-de-al-menos-32-caracteres"
CORS_ORIGIN="http://localhost:3000"
